.justify {
  text-align: justify;
}

body {
  background-color: #6F727B !important;
}

input.bs-input {
  height: 34px !important;
}

.form-group-sm .form-control {
    height: 30px!important;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.padfix {
  width: 150px !important;
}

.menu-item > a {
  text-decoration: none;
}

.div-inline {
  display: inline-block;
}

.load-parent.load-spacer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.load-parent {
  margin: 0px auto;
  height: 100px;
}

.load-background {
  background-color: #CAD5E0;
}

.load-container {
  background-color: white;
  border-radius: 12px;
  height: 100px;
  width: 300px;
  border: black 2px solid;
  margin: 24px auto;
  text-align: center;
}

.load-text {
  font-size: 1.5em;
  padding-left: 4px;
}

.load-text-sm {
  font-size: 1.25em;
  padding-left: 4px;
}

td:nth-child(4), td:nth-child(5) {
  text-align: right;
  padding: 4px 12px 4px 4px!important;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
  padding: 4px 4px 4px 12px!important;
}

.table td {
  font-family: monospace;
}

th[st-sort] {
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #DEF1FF;
}

.table-header {
  background-color: #AF4041;
  color: white;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  letter-spacing: 1.2px;
}

.pagination li {
  cursor: pointer;
}

.pagination-btn-end > a {
  margin-right: 8px!important;
  margin-left: 8px!important;
}

p.pagination-summary {
  font-size: x-small;
  margin: 10px 0px 2px 0px!important;
}

.disabled {
  cursor: not-allowed!important;
}

.muted {
  color: slategray;
  font-weight: normal;
  padding: 0px 12px;
}

.tbl-hover:hover {
  background-color: lightyellow!important;
}
