{% extends 'simons/simons_foundation_search.html' %}
{# 
  You MUST include the following tag at the top of your template 
  if you intend to use the bootstrap tags.
#}
{% load bootstrap3 %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'simons/css/simons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'simons/css/smart_table.css' %}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.6/smart-table.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<script src="http://cdn.deblan.org/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js"></script>
{% endblock %}

{% block site_search_form %}
{% include 'includes/site_search_form.html' %}
{% endblock %}

{% block search_result %}
<!-- Gene Search Results -->
{% include 'includes/gs_results.html' %}
{% endblock %}

{% block bootstrap-js %}{% bootstrap_javascript jquery=1 %}{% endblock %}

{% block late-scripts %}
<script type="text/javascript" src="{% static 'simons/js/simons.js' %}"></script>
{% endblock %}
