<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" > <!--<![endif]-->
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gene Search | Simons Foundation</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://www.simonsfoundation.org/xmlrpc.php" />
	<link rel="shortcut icon"  href="/liferay.ico">
	<!--[if lt IE 9]>
	<script src="https://www.simonsfoundation.org/wp-content/themes/simons/js/html5.js" type="text/javascript"></script>
	<![endif]-->


	<!-- All in One SEO Pack 2.2.7.2 by Michael Torbert of Semper Fi Web Design[389,439] -->
	<!-- /all in one seo pack -->
	<link rel="alternate" type="application/rss+xml" title="Simons Foundation &raquo; Feed" href="https://www.simonsfoundation.org/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Simons Foundation &raquo; Comments Feed" href="https://www.simonsfoundation.org/comments/feed/" />
	<link rel="alternate" type="text/calendar" title="Simons Foundation &raquo; iCal Feed" href="https://www.simonsfoundation.org/lectures/?ical=1" />
	<link rel="alternate" type="application/rss+xml" title="Simons Foundation &raquo; Search Results for &#8220;asdf&#8221; Feed" href="https://www.simonsfoundation.org/search/asdf/feed/rss2/" />
	<script type="text/javascript">
		window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.simonsfoundation.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=r20160107"}};
		!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='cforms2-css'  href='https://www.simonsfoundation.org/wp-content/plugins/cforms/styling/sf.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='dashicons-css'  href='https://www.simonsfoundation.org/wp-includes/css/dashicons.min.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='share-links-genericons-css'  href='https://www.simonsfoundation.org/wp-content/plugins/share-links/genericons/genericons.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='share-links-default-css'  href='https://www.simonsfoundation.org/wp-content/plugins/share-links/default.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='tribe-events-calendar-pro-style-css'  href='https://www.simonsfoundation.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='tribe-events-calendar-pro-mobile-style-css'  href='https://www.simonsfoundation.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full-mobile.css?ver=r20160107' type='text/css' media='only screen and (max-width: 768px)' />

	<!-- Remove troublesome site rules -->
	<!--<link rel='stylesheet' id='style-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/style.css?ver=r20160107' type='text/css' media='all' />-->
	<link rel="stylesheet" type="text/css" href="{% static 'simons/css/simons_foundation.css' %}">

	<link rel='stylesheet' id='jscarousel_simons-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/skins/simons/skin.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='jscarousel_simons_small-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/skins/simons-small/skin.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='slick-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/css/slick.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='slimmenu-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/slimmenu.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='style-responsive-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/style-responsive.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='new-royalslider-core-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/royalslider.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='rsDefault-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/skins/default/rs-default.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='content_slider-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/templates-css/rs-content-slider-template.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='rsDefaultInv-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/skins/default-inverted/rs-default-inverted.css?ver=r20160107' type='text/css' media='all' />

	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/jquery/jquery.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/cforms/js/jquery.md5.js?ver=r20160107'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var cforms2_ajax = {"url":"https:\/\/www.simonsfoundation.org\/wp-admin\/admin-ajax.php","nonces":{"reset_captcha":"82df6bbe80","submitcomment":"5e252db9d6"}};
		/* ]]> */
	</script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/cforms/js/cforms.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/wp-ad-gallery/js/jquery.cycle.all.js?ver=r20160107'></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.simonsfoundation.org/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.simonsfoundation.org/wp-includes/wlwmanifest.xml" />

	{% block bootstrap-loads %}
	{# Load the tag library #}
	{% load bootstrap3 %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% endblock %}

	{% block scripts %}{% endblock %}
	{% block css %}{% endblock %}

</head>

<body class="search search-no-results">
<div id="page" class="hfeed site">
	<div class="shadow">
		<header id="masthead" class="site-header" role="banner">
			<div class="clearfix">
				<hgroup>
					<h1 class="site-title"><span class="site-logo"><a href="{% url 'simons:index' %}" title="Simons Foundation" rel="home">
						<!--[if gte IE 9]><!-->
						<img alt="Simons Foundation" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/logo-simons.svg">
						<!--<![endif]-->
						<!--[if lte IE 8]>
						<img alt="Simons Foundation" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/logo_simons_small.png">
						<![endif]-->
					</a></span></h1>
					<h2 class="site-description">Advancing Research in Basic Science and Mathematics</h2>
				</hgroup>
				{% block site_search_form %}
				<div class='menu-header-search'>
					<!--<form action='' id='searchform' method='get' role='search'><input type='text' name='s' id='s' placeholder='Search people and site'><input type='submit' class='submit' name='submit' id='searchsubmit' value='' /></form>-->
					<form method="get" id="searchform" action="https://www.simonsfoundation.org/" role="search">
						<p class="clearfix">
							<input type="text" value="" class="field" name="s" id="s" placeholder="Search people and site" /><input type="submit" class="submit" id="searchsubmit" value="" />
						</p>
					</form>
				</div>
				{% endblock %}
			</div>
			<nav role="navigation" class="seccondary-navigation">
				<div class="menu-auxiliary-menu-container"><ul id="menu-auxiliary-menu" class="menu"><li id="menu-item-12098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12098"><a href="https://www.simonsfoundation.org/simons-society-of-fellows/">Simons Society of Fellows</a></li>
					<li id="menu-item-9725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9725"><a href="https://www.simonsfoundation.org/simons-foundation-data-resources/">Data Resources</a></li>
					<li id="menu-item-7154" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7154"><a href="https://www.simonsfoundation.org/category/features/foundation-news/">Foundation News</a></li>
					<li id="menu-item-7155" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7155"><a href="https://www.simonsfoundation.org/category/multimedia/">Multimedia</a></li>
					<li id="menu-item-15674" class="menu-item menu-item-type-post_type menu-item-object-funding menu-item-15674"><a href="https://www.simonsfoundation.org/funding/funding-opportunities/">Funding</a></li>
					<li id="menu-item-15675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15675"><a href="https://www.simonsfoundation.org/lectures/">Lectures</a></li>
					<li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="https://www.simonsfoundation.org/about-us/">About Us</a></li>
				</ul></div>			</nav>
			<nav role="navigation" class="site-navigation main-navigation">
				<h1 class="assistive-text">Menu</h1>
				<div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
				<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/">Mathematics &#038; Physical Sciences</a></li>
					<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="https://www.simonsfoundation.org/life-sciences/">Life Sciences</a></li>
					<li id="menu-item-7158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7158"><a href="http://sfari.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://sfari.org', 'Autism Research');">Autism Research</a></li>
					<li id="menu-item-7157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7157"><a href="https://www.simonsfoundation.org/education-outreach/">Education &#038; Outreach</a></li>
					<li id="menu-item-15673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15673"><a href="https://www.simonsfoundation.org/simons-center-for-data-analysis/">Simons Center for Data Analysis</a></li>
				</ul></div>			</nav>
		</header><!-- #masthead .site-header -->

		<div id="main" class="clearfix">
			<div class="breadcrumb">
				<a href="/">Home</a>				</div><!-- .breadcrumb -->

			<section id="primary" class="site-content clearfix">
				<div id="content" class="categoriesList" role="main">


					{% block search_result %}
					<article id="post-0" class="post no-results not-found">
						<header class="entry-header">
							<h1 class="entry-title">Nothing Found</h1>
						</header><!-- .entry-header -->

						<div class="entry-content">

							<p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>


						</div><!-- .entry-content -->
					</article><!-- #post-0 -->
					{% endblock %}

				</div><!-- #content -->
				<aside class="widget-area sidebar" role="complementary">
					<h3 class="widget-title">About Simons Foundation</h3><div class="menu-submenu-container"><ul id="menu-submenu" class="menu"><li id="menu-item-1548" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1548"><a href="https://www.simonsfoundation.org/about-us/">Mission</a></li>
					<li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="https://www.simonsfoundation.org/program-areas/">Programs</a></li>
					<li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-funding menu-item-340"><a href="https://www.simonsfoundation.org/funding/funding-opportunities/">Funding</a></li>
					<li id="menu-item-289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-289"><a href="/about-us/contact-us">Feedback</a></li>
				</ul></div><div class="highlightedVideo"><h3 class="widget-title">Science Lives</h3><ul class="clearfix"><li class='odd'><a href='https://www.simonsfoundation.org/science_lives_video/chen-ning-yang-2/' title='Science Lives: Chen-Ning Yang' rel='bookmark'><img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_ada94ddbce20fd49cd9a16129131c27f_1346200782Yang.jpg' class="magic_fields"  /></a><h4><a href='https://www.simonsfoundation.org/science_lives_video/chen-ning-yang-2/'>Chen-Ning Yang</a></h4><p class="moreLink"><a href="https://www.simonsfoundation.org/science_lives_video/chen-ning-yang-2/">watch video</a></p></li></ul></div>			</aside><!-- .widget-area -->
			</section><!-- #primary .site-content -->



		</div><!-- #main -->
	</div><!-- .shadow -->
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			<div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-58" class="first menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="https://www.simonsfoundation.org/about-us/">About Simons Foundation</a></li>
				<li id="menu-item-1945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1945"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/">Mathematics &#038; Physical Sciences</a></li>
				<li id="menu-item-1970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1970"><a href="https://www.simonsfoundation.org/life-sciences/">Life Sciences</a></li>
				<li id="menu-item-7573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7573"><a href="http://www.sfari.org/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.sfari.org/', 'Autism Research');">Autism Research</a></li>
				<li id="menu-item-7168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7168"><a href="https://www.simonsfoundation.org/education-outreach/">Education &#038; Outreach</a></li>
				<li id="menu-item-15704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15704"><a href="https://www.simonsfoundation.org/simons-center-for-data-analysis/">Center for Data Analysis</a></li>
				<li id="menu-item-18180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18180"><a href="https://www.simonsfoundation.org/privacy-policy/">Privacy Policy</a></li>
				<li id="menu-item-18181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18181"><a href="https://www.simonsfoundation.org/terms-and-conditions/">Terms and Conditions</a></li>
				<li id="menu-item-1456" class="last menu-item menu-item-type-post_type menu-item-object-page menu-item-1456"><a href="https://www.simonsfoundation.org/about-us/contact-us/">Contact Us</a></li>
			</ul></div>		</div><!-- .site-info -->
	</footer><!-- .site-footer .site-footer -->
</div><!-- #page .hfeed .site -->

<!--<div class="overlay center survey">
	<a href="#" class="close"><span class="genericon close"></span><span class="text">close</span></a>
	<h3>Help Us Improve this Site</h3>
	<p>Please take our 3-minute<br />simonsfoundation.org survey</p>
	<a href="https://www.surveymonkey.com/r/P2DF7HW" class="survey-link">Begin Survey &raquo;</a>
	<p class="credit">Image: Brookhaven National Lab</p>
</div>-->

<!-- MathJax Latex Plugin installed: Disabled as no shortcodes on this page --><script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/prefixfree.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer-3.2.12.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.playlist-3.2.10.custom.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.ipad-3.2.12.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.tools.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/jquery.slimmenu.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/jquery.easing.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/underscore.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/intention.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/context.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.widowFix-1.3.2.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/ios-orientationchange-fix.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slides/slides.min.jquery.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/dotdotdot-1.5.1/jquery.dotdotdot-1.5.1.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/lib/jquery.jcarousel.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/tracking.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/scripts.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slick.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.cookie.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/pixelines-email-protector/pixeline-email-protector.js'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/jquery.royalslider.min.js?ver=r20160107'></script>

<script>
	jQuery( document ).ready( function ( $ ) {

		// Big image slider
		$('#slides').slides({
			preload: true,
			preloadImage: 'https://www.simonsfoundation.org/wp-content/themes/simons/images/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true
		});


		// Initialise the first and second carousel by class selector.
		// Note that they use both the same configuration options (none in this case).
		jQuery('.first-and-second-carousel').jcarousel();

		$(".jcarousel-container ul").each(function (index, domEle){
			$("li:last-child").addClass("last");
		});


		// Ellipsis on the home page and main sections
		$(window).load(function() {
			$(".hellip").dotdotdot({
				ellipsis: '...'
			});
			$('body').addClass('hellip_ready');
		});
		$(window).load(function() {
			$(".hellipTitle").dotdotdot({ // FIXME merge with above
				ellipsis: '...'
			});
		});

		// Init Flowplayer for standalone videos.
		var standalones = $(".entry-content p a[href$=mp4], .entry-content p a[href$=flv]");
		if (standalones.length){
			standalones.each(function(){
				$this = $(this);
				var img = $this.find('img');
				if (img.length){
					$this.css({ 'background': 'url(' + $(img).attr('src') + ') center no-repeat #f4f4f4'})
							.append('<img src="https://www.simonsfoundation.org/wp-content/themes/simons/images/play_large.png" alt="Play this video" class="play_this_video" />');
					img.remove();
					FLOWPLAYER_OPT.clip.autoPlay = true;
				}
				$this.addClass('player-single');
				$this.flowplayer(FLOWPLAYER_URL, FLOWPLAYER_OPT);
				// Remove context menu
				$this.bind("contextmenu", function(){
					return false;
				});
			})
			flowplayer().ipad(FLOWPLAYER_OPT.ipad);
		}
	});



	// Open external links in a new window. Based on http://goo.gl/wV07t
	jQuery(document).on('click', 'a', function(e) {
		if ( !this.href || e.isDefaultPrevented()) { return };
		if (/^http.?:/.test(this.href) && this.href.indexOf(location.hostname) < 0 ) {
			e.preventDefault();
			window.open(this.href);
		}
	});

	var FLOWPLAYER_URL = "https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.commercial-3.2.16.swf";
	var FLOWPLAYER_OPT = {
		key: '#$68a658ec673508a0f36',
		canvas: {backgroundColor: "#000000"},
		ipad: {
			simulateiDevice: !flashembed.isSupported([10])
		},

		clip: {
			autoPlay: false,
			autoBuffering: true,
			scaling: 'fit',
			onStart: function(clip){
				if (typeof __gaTracker != 'undefined'){
					var category = jQuery.trim(jQuery("h1.entry-title").text()).replace("Science Lives", "SL");
					__gaTracker('send', 'event', "Video " + category, "click", clip.title);
				}
			}
		},

		canvas: {
			background: '#000000',
			backgroundGradient: 'none'
		},

		plugins: {
			controls: {
				timeSeparator: ' ',
				tooltipColor: '#000000',
				volumeBorder: '1px solid rgba(128, 128, 128, 0.7)',
				timeBgColor: 'rgb(0, 0, 0, 0)',
				timeColor: '#ffffff',
				sliderColor: '#dfe0e1',
				bufferColor: '#545a6d',
				borderRadius: '0px',
				bufferGradient: 'none',
				durationColor: '#a9aebc',
				tooltipTextColor: '#ffffff',
				callType: 'default',
				sliderBorder: '1px solid rgba(128, 128, 128, 0.7)',
				progressGradient: 'none',
				sliderGradient: 'none',
				timeBorder: '0px solid rgba(0, 0, 0, 0.3)',
				buttonOffColor: 'rgba(130,130,130,1)',
				backgroundGradient: 'none',
				autoHide: 'never',
				volumeSliderColor: '#46464e',
				progressColor: '#808080',
				backgroundColor: '#454545',
				volumeSliderGradient: 'none',
				buttonColor: '#b9babb',
				buttonOverColor: '#d7d8db',
				volumeColor: '#8f8f8f',
				disabledWidgetColor: '#555555',
				height: 20,
				opacity: 1.0
			}
		}
	}

	jQuery(function($){
		if (typeof gatracker === 'undefined'){ return; } // Handle adblock etc
		gatracker.track("#menu-main-menu a", "Top nav");
		gatracker.track("#masthead hgroup a, #masthead .menu-auxiliary-menu-container a", "Header");
		gatracker.track("footer a", "Footer");
		gatracker.track("#carrousel a, #bigPhoto a", "Hero image");
		gatracker.track(".mediumFeatured  a", "Featured blocks");
		gatracker.track(".leftColumn  a", "Left column");
		gatracker.track(".middleColumn  a", "Middle column");
		gatracker.track(".rightColumn a", "Right column");
		gatracker.track("aside.sidebar a", "Sidebar");
		gatracker.track(".science_lives_video .relatedLinks a", "SL Related links");
		gatracker.track(".science_lives_footer a", "SL footer");
		gatracker.track(".first-and-second-carousel a, .fullListing a", "SL sliders");
		gatracker.track(".slideButton	a", "Video scroll")
		gatracker.track(".breadcrumb a", "Breadcrumb");
		gatracker.track(".categoriesList a", "Category list");
		gatracker.track(".article article.funding a", "Funding");
	});



	jQuery( document ).ready( function ( $ ) {

		var $listItems = $('.pulldown_sidebar ul li');
		var $select = $("<select class='new-menu'>");

		$.each($listItems, function(idx,obj){
			var $option = $("<option>"+ $(obj).text() +"</option>").val( $(obj).find('a').attr('href') );
			if ( $(obj).hasClass('active') ){
				$option.attr('selected', 'selected');
			}
			$select.append($option);
		})

		$('.pulldown_sidebar ul').after($select);
		$('.pulldown_sidebar ul').remove();

		// Go to page on select.

		$('.new-menu').change(function(){
			var selected = $(this).find('option:selected');
			//alert('Going to: '+ selected.val());
			window.location.href = selected.val();
		});


	});

	jQuery('.main-navigation').slimmenu({
		resizeWidth: '568',
		collapserTitle: '',
		animSpeed: 'fast',
		easingEffect: null,
		indentChildren: false,
		childrenIndenter: '&nbsp;'
	});

	jQuery(function($) {
		$('#searchtarget input').each(function(){
			var input = $(this),
					label = input.next('label');
			input.css({
				'width': '1px',
				'height': '1px',
				'border': '0',
				'position': 'absolute',
				'left': '-10000px'
			}).addClass('hidden');
			if (input.is(':checked')) {
				label.addClass('checked');
			}
			label.click(function() {
				$(this).addClass('checked')
						.siblings('label').not(this).each(function() {
					$(this).removeClass('checked');
				});
			});
		});
	});


	stLight.options({onhover:false});
</script>

<script type="text/javascript">
	// Fonts.com license tracking
	var MTIProjectId='90ab73ca-a32b-4874-9a30-13e1e2f3eb2c';
	(function() {
		var mtiTracking = document.createElement('script');
		mtiTracking.type='text/javascript';
		mtiTracking.async='true';
		mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
	})();
</script>

</body>
{% block bootstrap-js %}{% bootstrap_javascript %}{% endblock %}
{% block late-scripts %}{% endblock %}
</html>

