<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" > <!--<![endif]-->
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Simons Foundation: Advancing Research in Basic Science and Mathematics</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://www.simonsfoundation.org/xmlrpc.php" />
	<link rel="shortcut icon"  href="/liferay.ico">
	<!--[if lt IE 9]>
	<script src="https://www.simonsfoundation.org/wp-content/themes/simons/js/html5.js" type="text/javascript"></script>
	<![endif]-->


	<!-- All in One SEO Pack 2.2.7.2 by Michael Torbert of Semper Fi Web Design[389,467] -->
	<meta name="description" itemprop="description" content="In this lecture, Eric Betzig will describe advanced optical tools being developed to help scientists delve deeper into the complexity of biological systems." />
	<link rel='next' href='https://www.simonsfoundation.org/page/2/' />

	<link rel="canonical" href="https://www.simonsfoundation.org/" />
	<!-- /all in one seo pack -->
	<link rel="alternate" type="application/rss+xml" title="Simons Foundation &raquo; Feed" href="https://www.simonsfoundation.org/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Simons Foundation &raquo; Comments Feed" href="https://www.simonsfoundation.org/comments/feed/" />
	<link rel="alternate" type="text/calendar" title="Simons Foundation &raquo; iCal Feed" href="https://www.simonsfoundation.org/lectures/?ical=1" />
	<script type="text/javascript">
		window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.simonsfoundation.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=r20160107"}};
		!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	{% block bootstrap-loads %}
	{# Load the tag library #}
	{% load bootstrap3 %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% endblock %}

	{% block scripts %}{% endblock %}
	{% block css %}{% endblock %}
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='cforms2-css'  href='https://www.simonsfoundation.org/wp-content/plugins/cforms/styling/sf.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='dashicons-css'  href='https://www.simonsfoundation.org/wp-includes/css/dashicons.min.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='share-links-genericons-css'  href='https://www.simonsfoundation.org/wp-content/plugins/share-links/genericons/genericons.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='share-links-default-css'  href='https://www.simonsfoundation.org/wp-content/plugins/share-links/default.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='tribe-events-calendar-pro-style-css'  href='https://www.simonsfoundation.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='tribe-events-calendar-pro-mobile-style-css'  href='https://www.simonsfoundation.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full-mobile.css?ver=r20160107' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='style-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/style.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='jscarousel_simons-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/skins/simons/skin.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='jscarousel_simons_small-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/skins/simons-small/skin.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='slick-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/css/slick.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='slimmenu-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/slimmenu.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='style-responsive-css'  href='https://www.simonsfoundation.org/wp-content/themes/simons/style-responsive.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='new-royalslider-core-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/royalslider.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='rsDefault-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/skins/default/rs-default.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='content_slider-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/templates-css/rs-content-slider-template.css?ver=r20160107' type='text/css' media='all' />
	<link rel='stylesheet' id='rsDefaultInv-css-css'  href='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/skins/default-inverted/rs-default-inverted.css?ver=r20160107' type='text/css' media='all' />
	<!-- This site uses the Google Analytics by Yoast plugin v5.4.6 - Universal enabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

		__gaTracker('create', 'UA-8526335-2', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('send','pageview');

	</script>
	<!-- / Google Analytics by Yoast -->
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/jquery/jquery.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/cforms/js/jquery.md5.js?ver=r20160107'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var cforms2_ajax = {"url":"https:\/\/www.simonsfoundation.org\/wp-admin\/admin-ajax.php","nonces":{"reset_captcha":"f2a0e2747f","submitcomment":"bb687b8f81"}};
		/* ]]> */
	</script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/cforms/js/cforms.js?ver=r20160107'></script>
	<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/wp-ad-gallery/js/jquery.cycle.all.js?ver=r20160107'></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.simonsfoundation.org/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.simonsfoundation.org/wp-includes/wlwmanifest.xml" />

</head>

<body class="home blog">
<div id="page" class="hfeed site">
	<div class="shadow">
		<header id="masthead" class="site-header" role="banner">
			<div class="clearfix">
				<hgroup>
					<h1 class="site-title"><span class="site-logo"><a href="{% url 'simons:index' %}" title="Simons Foundation" rel="home">
						<!--[if gte IE 9]><!-->
						<img alt="Simons Foundation" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/logo-simons.svg">
						<!--<![endif]-->
						<!--[if lte IE 8]>
						<img alt="Simons Foundation" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/logo_simons_small.png">
						<![endif]-->
					</a></span></h1>
					<h2 class="site-description">Advancing Research in Basic Science and Mathematics</h2>
				</hgroup>
				{% block site_search_form %}
				<div class='menu-header-search'>
					<!--<form action='' id='searchform' method='get' role='search'><input type='text' name='s' id='s' placeholder='Search people and site'><input type='submit' class='submit' name='submit' id='searchsubmit' value='' /></form>-->
					<form method="get" id="searchform" action="https://www.simonsfoundation.org/" role="search">
						<p class="clearfix">
							<input type="text" value="" class="field" name="s" id="s" placeholder="Search people and site" /><input type="submit" class="submit" id="searchsubmit" value="" />
						</p>
					</form>
				</div>
				{% endblock %}
			</div>
			<nav role="navigation" class="seccondary-navigation">
				<div class="menu-auxiliary-menu-container"><ul id="menu-auxiliary-menu" class="menu"><li id="menu-item-12098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12098"><a href="https://www.simonsfoundation.org/simons-society-of-fellows/">Simons Society of Fellows</a></li>
					<li id="menu-item-9725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9725"><a href="https://www.simonsfoundation.org/simons-foundation-data-resources/">Data Resources</a></li>
					<li id="menu-item-7154" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7154"><a href="https://www.simonsfoundation.org/category/features/foundation-news/">Foundation News</a></li>
					<li id="menu-item-7155" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7155"><a href="https://www.simonsfoundation.org/category/multimedia/">Multimedia</a></li>
					<li id="menu-item-15674" class="menu-item menu-item-type-post_type menu-item-object-funding menu-item-15674"><a href="https://www.simonsfoundation.org/funding/funding-opportunities/">Funding</a></li>
					<li id="menu-item-15675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15675"><a href="https://www.simonsfoundation.org/lectures/">Lectures</a></li>
					<li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="https://www.simonsfoundation.org/about-us/">About Us</a></li>
				</ul></div>			</nav>
			<nav role="navigation" class="site-navigation main-navigation">
				<h1 class="assistive-text">Menu</h1>
				<div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
				<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/">Mathematics &#038; Physical Sciences</a></li>
					<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="https://www.simonsfoundation.org/life-sciences/">Life Sciences</a></li>
					<li id="menu-item-7158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7158"><a href="http://sfari.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://sfari.org', 'Autism Research');">Autism Research</a></li>
					<li id="menu-item-7157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7157"><a href="https://www.simonsfoundation.org/education-outreach/">Education &#038; Outreach</a></li>
					<li id="menu-item-15673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15673"><a href="https://www.simonsfoundation.org/simons-center-for-data-analysis/">Simons Center for Data Analysis</a></li>
				</ul></div>			</nav>
		</header><!-- #masthead .site-header -->

		<div id="main" class="clearfix">
			<div id="primary" class="site-content">
				<div id="content" role="main" class="clearfix">

					<div class="widget-area featured clearfix" role="complementary">
						<div id="carrousel">
							<div class="carru-arrow prev-item"></div>
							<div class="carru-arrow next-item"></div>
							<ul class="carru">
								<li class="carru-item visible slide-0">
									<figure>
										<div class="slide-image">
											<img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_7b706675da3b8be21a97b60caefd2a68_Graham-homepage-slider-juggling-2.jpg' class="magic_fields"  />				</div>
										<figcaption>

											<div class="text_container">
												<div class="text clearfix">
													<div class="slide_title">
														<h2>
															<a href="https://www.simonsfoundation.org/science_lives_video/ronald-graham/">Science Lives: Ronald Graham Discusses a Life Full of Math Fun</a>
														</h2>
													</div>
													<p></p>																<p class="moreLink"><a href="https://www.simonsfoundation.org/science_lives_video/ronald-graham/">Watch and read the full profile</a></p>
												</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="carru-item  slide-1">
									<figure>
										<div class="slide-image">
											<img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_7b706675da3b8be21a97b60caefd2a68_MPS_spotlight_neutron-star-outflow_homepage.jpg' class="magic_fields"  />				</div>
										<figcaption>

											<div class="text_container">
												<div class="text clearfix">
													<div class="slide_title">
														<h2>
															<a href="https://www.simonsfoundation.org/mathematics-and-physical-science/awardee-spotlight/eliot-quataert/">Spotlight: Modeling Debris from Neutron Star Collisions</a>
														</h2>
													</div>
													<p></p>																<p class="moreLink"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/awardee-spotlight/eliot-quataert/">Read more</a></p>
												</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="carru-item  slide-2">
									<figure>
										<div class="slide-image">
											<img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_7b706675da3b8be21a97b60caefd2a68_SCGB_meeting_photo1.jpg' class="magic_fields"  />				</div>
										<figcaption>

											<div class="text_container">
												<div class="text clearfix">
													<div class="slide_title">
														<h2>
															<a href="https://www.simonsfoundation.org/features/foundation-news/global-brain-meeting-explores-the-puzzle-of-cognition/">Global Brain Meeting Explores the Puzzle of Cognition</a>
														</h2>
													</div>
													<p></p>																<p class="moreLink"><a href="https://www.simonsfoundation.org/features/foundation-news/global-brain-meeting-explores-the-puzzle-of-cognition/">Read the full story</a></p>
												</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="carru-item  slide-3">
									<figure>
										<div class="slide-image">
											<img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_7b706675da3b8be21a97b60caefd2a68_network_background_autism_brain_net02.jpg' class="magic_fields"  />				</div>
										<figcaption>

											<div class="text_container">
												<div class="text clearfix">
													<div class="slide_title">
														<h2>
															<a href="https://www.simonsfoundation.org/features/foundation-news/autism-brainnet-and-nih-neurobiobank-partner-to-advance-autism-research/">Autism BrainNet and NIH NeuroBioBank Partner to Advance Autism Research</a>
														</h2>
													</div>
													<p></p>																<p class="moreLink"><a href="https://www.simonsfoundation.org/features/foundation-news/autism-brainnet-and-nih-neurobiobank-partner-to-advance-autism-research/">Learn more</a></p>
												</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="carru-item  slide-4">
									<figure>
										<div class="slide-image">
											<img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_7b706675da3b8be21a97b60caefd2a68_spergel_comp3.jpg' class="magic_fields"  />				</div>
										<figcaption>

											<div class="text_container">
												<div class="text clearfix">
													<div class="slide_title">
														<h2>
															<a href="https://www.simonsfoundation.org/features/foundation-news/david-spergel-to-lead-new-center-for-computational-astrophysics/">David Spergel to Lead New Center for Computational Astrophysics</a>
														</h2>
													</div>
													<p></p>																<p class="moreLink"><a href="https://www.simonsfoundation.org/features/foundation-news/david-spergel-to-lead-new-center-for-computational-astrophysics/">Learn more</a></p>
												</div>
											</div>
										</figcaption>
									</figure>
								</li>

							</ul>
							<div class="controls-wrapper">
								<ul class="carru-controls">
									<li><a class="carru-thumb  selected" href="#"><div class="thumb-hover" title="Education & Outreach"></div><div class="thumb-caption"><p>Education & Outreach</p></div></a></li><li><a class="carru-thumb " href="#"><div class="thumb-hover" title="Mathematics & Physical Sciences"></div><div class="thumb-caption"><p>Mathematics & Physical Sciences</p></div></a></li><li><a class="carru-thumb " href="#"><div class="thumb-hover" title="Life Sciences"></div><div class="thumb-caption"><p>Life Sciences</p></div></a></li><li><a class="carru-thumb " href="#"><div class="thumb-hover" title="Autism Research"></div><div class="thumb-caption"><p>Autism Research</p></div></a></li><li><a class="carru-thumb " href="#"><div class="thumb-hover" title="Simons Center for Data Analysis"></div><div class="thumb-caption"><p>Simons Center for Data Analysis</p></div></a></li>		</ul>
							</div>
						</div><!--end carrousel-->


					</div><!-- .widget-area -->
					<div class="clearfix">
						<div class="widget-area leftColumn clearfix" role="complementary">
							<h3 class="useBg"><a href="https://www.simonsfoundation.org/funding/funding-opportunities/">Funding Opportunities</a></h3><h4><a href="https://www.simonsfoundation.org/funding/funding-opportunities/mathematics-physical-sciences/">Mathematics and Physical Sciences</a></h4><ul id="menu-homepage-mps-funding-menu" class="widgetMenuList"><li><p><a href="https://www.simonsfoundation.org/funding/funding-opportunities/mathematics-physical-sciences/collaboration-grants-for-mathematicians/">Collaboration Grants for Mathematicians</a></p><p class="subtitle"><p></li><li><p><a href="https://www.simonsfoundation.org/funding/funding-opportunities/mathematics-physical-sciences/targeted-grants-in-mps/">Targeted Grants in MPS</a></p><p class="subtitle"><p></li></ul><h4><a href="https://www.simonsfoundation.org/funding/funding-opportunities/life-sciences/">Life Sciences</a></h4><ul id="menu-ls-funding-homepage" class="widgetMenuList"><li><p><a href="https://www.simonsfoundation.org/funding/funding-opportunities/life-sciences/">No current Life Sciences funding opportunities.</a></p><p class="subtitle"></p></li></ul><h4><a href="https://www.simonsfoundation.org/funding/funding-opportunities/autism-research-initiative-sfari/">Autism Research</a></h4><ul id="menu-autism-research" class="widgetMenuList"><li><p><a href="https://www.simonsfoundation.org/funding/funding-opportunities/autism-research-initiative-sfari/sfari-explorer-award/">SFARI Explorer Award</a></p><p class="subtitle"><p></li><li><p><a href="http://sfari.org/funding/grants">Grant Opportunities at SFARI.org</a></p><p class="subtitle"><p></li></ul><p class="isolatedLink"><a href="https://www.simonsfoundation.org/funding/institutions-and-investigators/">View Current Funded Institutions</a></p>					</div><!--  .widget-area -->
						{% block right_column %}
						<h1>Placeholder</h1>
						{% endblock %}
					</div>
					<div class="widget-area homeMiddle clearfix" role="complementary">
						<h3 class="useBg">Foundation Updates</h3>					<div class="item first wrappable_1 clearfix">
						<a href="https://www.simonsfoundation.org/uncategorized/new-erdos-paper-solves-egyptian-fraction-problem/"><img  src="https://www.simonsfoundation.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=/wp-content/uploads/2015/12/Eye-of-horus_800px-Oudjat.SVG.jpg&w=150&h=94&zc=C"></a>						<h4><a href="https://www.simonsfoundation.org/uncategorized/new-erdos-paper-solves-egyptian-fraction-problem/">New Erdős Paper Solves Egyptian Fraction Problem</a></h4>
						<p>Nearly 20 years after his death, the famed mathematician Paul Erdős keeps on publishing, thanks to the conjectures he left behind and the friends who strive to prove them</p>

					</div>

						<div class="item wrappable_1"><a href="https://www.simonsfoundation.org/life-sciences/tracking-the-oceans-circadian-rhythm/">Tracking the Ocean&#8217;s Circadian Rhythm</a></div>

						<div class="item wrappable_1"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/awardee-spotlight/laura-demarco/">MPS Spotlight: Laura DeMarco Explores Stability in Complex Dynamical Systems</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/news-announcements/inaugural-conference-of-the-simons-collaboration-on-homological-mirror-symmetry/">Inaugural Conference of the Simons Collaboration on Homological Mirror Symmetry</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/features/foundation-news/breakthrough-prizes-awarded-to-4-simons-investigators/">Breakthrough Prizes Awarded to 4 Simons Investigators</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/funding/funding-opportunities/mathematics-physical-sciences/collaboration-grants-for-mathematicians/collaboration-grant-awardees/">Foundation Announces the 2015 Recipients of the Collaboration Grants for Mathematicians</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/features/foundation-news/simons-collaboration-on-the-global-brain-investigators-shed-light-on-behavior-of-neurons/">Simons Collaboration on the Global Brain Investigators Shed Light on Behavior of Neurons</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/simons-investigators/simons-investigators-awardees/">Foundation Announces the 2015 Simons Investigators</a></div>

						<div class="item wrappable_2"><a href="https://www.simonsfoundation.org/features/foundation-news/2015-klingenstein-simons-fellowship-awards-in-the-neurosciences-announced/">2015 Klingenstein-Simons Fellowship Awards in the Neurosciences Announced</a></div>
					</div><!-- .widget-area -->
					<div class="widget-area homeBottom clearfix" role="complementary">
						<h3 class="useBg"><a href="https://www.simonsfoundation.org/category/multimedia/">Multimedia</a></h3><div class="video-0 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><a href='https://www.simonsfoundation.org/science_lives_video/friedrich-hirzebruch/' rel='bookmark'><img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_cc4265485f5b4d5dcd5befc0b5107b61_1346200861hirzebruch.jpg' class="magic_fields"  /></a><p class="author"><a href="https://www.simonsfoundation.org/authors/joel-segel/">Joel Segel</a></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/science_lives_video/friedrich-hirzebruch/'>Science Lives: Friedrich Hirzebruch</a></h2></div></div></div></div><div class="video-1 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><p class='leading'>Video</p><a href='https://www.simonsfoundation.org/multimedia/mathematical-impressions-art-imitates-math/' title='Mathematical Impressions: Art Imitates Math' rel='bookmark'><img class="attachment-thumbnail wp-post-image"  src="https://www.simonsfoundation.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=/wp-content/uploads/2013/10/bridges_thumb.jpg&w=232&h=135&zc=C"></a><p class='tag'></p><p class="author"><a href="https://www.simonsfoundation.org/authors/george-hart/">George Hart</a></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/multimedia/mathematical-impressions-art-imitates-math/'>Mathematical Impressions: Art Imitates Math</a></h2></div></div></div></div><div class="video-2 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><a href='https://www.simonsfoundation.org/science_lives_video/john-conway/' rel='bookmark'><img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_cc4265485f5b4d5dcd5befc0b5107b61_1396628179ConwayVideoThumbnail.jpg' class="magic_fields"  /></a><p class="author"><a href="https://www.simonsfoundation.org/authors/siobhan-roberts/">Siobhan Roberts</a></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/science_lives_video/john-conway/'>Science Lives: John Conway</a></h2></div></div></div></div><div class="video-3 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><p class='leading'>Video</p><a href='https://www.simonsfoundation.org/multimedia/mathematical-impressions-multimedia/mathematical-impressions-curved-and-straight/' title='Mathematical Impressions: Curved and Straight?' rel='bookmark'><img class="attachment-thumbnail wp-post-image"  src="https://www.simonsfoundation.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=/wp-content/uploads/2014/11/Hyperboloids-Still.jpg&w=232&h=135&zc=C"></a><p class='tag'></p><p class="author"><a href="https://www.simonsfoundation.org/authors/george-hart/">George Hart</a></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/multimedia/mathematical-impressions-multimedia/mathematical-impressions-curved-and-straight/'>Mathematical Impressions: Curved and Straight?</a></h2></div></div></div></div><div class="video-4 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><p class='leading'>Video</p><a href='https://www.simonsfoundation.org/multimedia/simons-foundation-lectures/where-is-fundamental-physics-heading-simons-foundation-lectures/where-is-fundamental-physics-heading/' title='Where is Fundamental Physics Heading?' rel='bookmark'><img class="attachment-thumbnail wp-post-image"  src="https://www.simonsfoundation.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=/wp-content/uploads/2014/03/Seiberg-Nathan_2012.jpg&w=232&h=135&zc=C"></a><p class='tag'></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/multimedia/simons-foundation-lectures/where-is-fundamental-physics-heading-simons-foundation-lectures/where-is-fundamental-physics-heading/'>Nathan Seiberg: Where is Fundamental Physics Heading?</a></h2></div></div></div></div><div class="video-5 videoModule"><div class='smallFeatured clearfix'><div class='wigetContent'><a href='https://www.simonsfoundation.org/science_lives_video/dusa-mcduff/' rel='bookmark'><img src='https://www.simonsfoundation.org/wp-content/files_mf/cache/th_cc4265485f5b4d5dcd5befc0b5107b61_1403794965DusaMcDuffVideoThumb.jpg' class="magic_fields"  /></a><p class="author"><a href="https://www.simonsfoundation.org/authors/nina-bai/">Nina Bai</a></p><div class='title'> <h2><a class='' href='https://www.simonsfoundation.org/science_lives_video/dusa-mcduff/'>Science Lives: Dusa McDuff</a></h2></div></div></div></div>					<div class="textwidget show_on_mobile"><p class="moreLink"><a href="https://www.simonsfoundation.org/multimedia/">More Multimedia</a></p></div>
					</div><!-- .widget-area -->
				</div><!-- #content -->
			</div><!-- #primary .site-content -->
			<div class="quanta_sidebar clearfix">

				<aside id="quanta" class="" role="complementary">
					<header>
						<h2><a href="http://www.quantamagazine.org/" title="Quanta Magazine" rel="home"><img src="https://www.simonsfoundation.org/wp-content/themes/simons/images/quanta_logo_small.png" width="278" height="42" alt="Quanta Magazine" /></a></h2>
						<div class="widget-area quantaSidebarTop clearfix" role="complementary">
							<div class="textwidget"><p>An editorially independent division of SimonsFoundation.org.</p>		</div>			</div><!-- .widget-area -->
					</header>
					<section>

						<div class="quanta_article clearfix">
							<div class="leading"><a href="https://www.quantamagazine.org/tag/qa/">Q&A</a></div>							<h3><a href="https://www.quantamagazine.org/20160121-superconductors-and-string-theory/">Taming Superconductors With String Theory</a></h3>
							<div class="image">
								<a href="https://www.quantamagazine.org/20160121-superconductors-and-string-theory/" title="Taming Superconductors With String Theory" rel="bookmark"><img src="https://www.quantamagazine.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=https://www.quantamagazine.org/wp-content/uploads/2016/01/Sachdev_Ft.jpg&w=90&h=90&zc=C"></a>
							</div>
							<div class="text">
																		<span class="author">
										By: 												<strong><a href="https://www.quantamagazine.org/authors/kevin-hartnett/">Kevin Hartnett</a></strong>										</span>

								<p>The physicist Subir Sachdev borrows tools from string theory to understand the puzzling behavior of superconductors.</p>
								<p class="read_more"><a href="https://www.quantamagazine.org/20160121-superconductors-and-string-theory/">Read Article</a></p>								</div>
						</div>


						<div class="quanta_article clearfix">
							<div class="leading"><a href="https://www.quantamagazine.org/tag/physics/">Physics</a></div>							<h3><a href="https://www.quantamagazine.org/20160119-time-entanglement/">Quantum Weirdness Now a Matter of Time</a></h3>
							<div class="image">
								<a href="https://www.quantamagazine.org/20160119-time-entanglement/" title="Quantum Weirdness Now a Matter of Time" rel="bookmark"><img src="https://www.quantamagazine.org/wp-content/plugins/magic-fields-2/thirdparty/phpthumb/phpThumb.php?src=https://www.quantamagazine.org/wp-content/uploads/2016/01/TimeEntangled_Ft.jpg&w=90&h=90&zc=C"></a>
							</div>
							<div class="text">
																		<span class="author">
										By: 												<strong><a href="https://www.quantamagazine.org/authors/george-musser/">George Musser</a></strong>										</span>

								<p>Bizarre quantum bonds connect distinct moments in time, suggesting that quantum links — not space-time — constitute the fundamental structure of the universe.</p>
								<p>&nbsp;</p>
								<p class="read_more"><a href="https://www.quantamagazine.org/20160119-time-entanglement/">Read Article</a></p>								</div>
						</div>

						<div class="widget-area quantaSidebarBottom clearfix" role="complementary">
							<div class="textwidget"><p>Quanta Magazine's mission is to enhance public understanding of research developments in mathematics and science. Quanta articles do not necessarily represent the views of the Simons Foundation.</p>
								<p class="moreLink"><a href="http://www.quantamagazine.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.quantamagazine.org', 'More Quanta');">More Quanta</a></p>		</div>			</div><!-- .widget-area -->
					</section>
				</aside>
				<div class="widget-area homeSidebarBottom clearfix" role="complementary">
					<div class="textwidget"><p><a href="http://simonsfoundation.org/report2014"><img class="alignnone size-full" src="https://www.simonsfoundation.org/wp-content/uploads/2015/06/AR_Widget_Mockup2.jpg" alt="Simons Foundation Annual Report" width="325" height="177" /></a></p>		</div>			<div class="textwidget"><p><a href="http://sfari.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://sfari.org', '');"><img class="alignnone size-full wp-image-7167" src="https://www.simonsfoundation.org/wp-content/uploads/2013/10/sfari_logo.gif" alt="sfari_logo" width="306" height="38" /></a><br />Visit <a href="http://sfari.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://sfari.org', 'SFARI.org');">SFARI.org</a> for autism research news and program information.</p><a name="subscribe-box"></a>		</div>			<div class="textwidget"><p><a href="http://spectrumnews.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://spectrumnews.org', '');"><img class="alignnone size-full wp-image-7167" src="https://www.simonsfoundation.org/wp-content/uploads/2015/10/spectrum_logo1.jpg" alt="Spectrum" width="293" height="78" /></a><br />Visit <a href="http://spectrumnews.org" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://spectrumnews.org', 'spectrumnews.org');">spectrumnews.org</a> for the latest autism news, analysis and commentary.</p>		</div>		<div class="signup clearfix">
					<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
						<h3>Sign Up for Announcements</h3>
						<div class="warning hide"></div>
						<div class="mc-success hide"><strong>Thank you!</strong>
							<span class="mc-success-multi-msg">You will receive one confirmation email per selection.</span>
							<span class="mc-success-single-msg">You will receive a confirmation&nbsp;email.</span>
						</div>
						<div class="step-one">
							<div class="pair"><input type="checkbox" value="01c00e64ea" name="list" id="simons_foundation"><label class="for_checkbox" for="simons_foundation">Simons Foundation</label></div>
							<div class="pair"><input type="checkbox" value="85ad70bfde" name="list" id="mps_funding"><label class="for_checkbox" for="mps_funding">MPS Funding</label></div>
							<div class="pair"><input type="checkbox" value="8e52f37818" name="list" id="autism_funding"><label class="for_checkbox" for="autism_funding">Autism Funding</label></div>
							<div class="pair"><input type="checkbox" value="a260fe68ea" name="list" id="ls_funding"><label class="for_checkbox" for="ls_funding">Life Sciences Funding</label></div>
							<div class="pair"><input type="checkbox" value="f0cb61321c" name="list" id="quanta_list"><label class="for_checkbox" for="quanta_list">Quanta Magazine</label></div>
							<div class="formBottom">
								<input type="button" class="signupButton" id="mce-presubmit" name="submit" value="Subscribe" />
							</div>
						</div>
						<div class="step-two">
							<div class="clearfix">
								<label class="for_input" for="mce-EMAIL">Email Address: *</label>
								<input type="email" value="" class="widefat" id="mce-EMAIL" name="EMAIL" required />
							</div>
							<div class="clearfix">
								<label class="for_input" for="mce-FNAME">First Name:</label>
								<input type="text" value="" class="widefat" id="mce-FNAME" name="FNAME" />
							</div>
							<div class="clearfix">
								<label class="for_input" for="mce-LNAME">Last Name:</label>
								<input type="text" value="" class="widefat" id="mce-LNAME" name="LNAME" />
							</div>
							<div class="clearfix">
								<label class="for_input" for="mce-MMERGE4">Institution:</label>
								<input type="text" value="" class="widefat" id="mce-MMERGE4" name="MMERGE4" />
							</div>
							<div class="clearfix">
								<fieldset class="category-group">
									<legend class="group-label">Category:</legend>
									<div class="uniq"><input type="checkbox" value="Scientist/Researcher" name="INTERESTS" id="scientist_researcher"><label class="for_checkbox" for="scientist_researcher">Scientist/Researcher</label></div>
									<div class="uniq"><input type="checkbox" value="Grants Officer" name="INTERESTS" id="grants_officer"><label class="for_checkbox" for="grants_officer">Grants Officer</label></div>
									<div class="uniq"><input type="checkbox" value="Person with autism/family member" name="INTERESTS" id="person_with_autism_family_member"><label class="for_checkbox" for="person_with_autism_family_member">Person with autism/family member</label></div>
									<div class="uniq"><input type="checkbox" value="Other" name="INTERESTS" id="other"><label class="for_checkbox" for="other">Other</label></div>
								</fieldset>
							</div>
							<input type="submit" class="signupButton" id="mce-submit" name="submit" value="Subscribe" />
						</div>
					</form>
				</div>


					<script>
						MC_AJAX = {
							url: 'https://www.simonsfoundation.org/wp-admin/admin-ajax.php',
							nonce: 'e6daf26d12'
						}

						jQuery(function($){
							$( ".step-one .signupButton" ).click(function() {
								var lists = $("#mc-embedded-subscribe-form").find("[name=list]:checked,:hidden[name=list]"),
										message = "";

								if (!lists.length) {
									message = 'Please choose a list.';
									$('.warning')
											.html(message)
											.show('slow');
									return false;

								} else {

									$('.warning').hide();
									$(this).hide();

									$( ".step-two" ).slideDown("slow", function(){
										$('#mce-EMAIL').focus();
									});

								}

							});
							$("#mc-embedded-subscribe-form").submit(function(e){
								e.preventDefault();

								// Validation
								var EMAIL = $("#mce-EMAIL").val();
								lists = $("#mc-embedded-subscribe-form").find("[name=list]:checked,:hidden[name=list]"),
										message = "";

								if (!lists.length) {
									message = 'Please choose a list.';
								}
								if ($("#mce-EMAIL").val() == '' || $("#mce-EMAIL").val() == 'Email' || $("#mce-EMAIL").val() == 'your email'){
									message = 'Please enter your email address.';
								}
								$('.warning').empty().hide();
								$('.mc-success').hide();

								if (message){
									$('.warning')
											.append(message)
											.show('slow');
									return false;
								}

								$("#mce-submit").attr('disabled', 'disabled').addClass('loading');

								var data = {
									action: 'mc_subscribe',
									nonce: MC_AJAX.nonce,
									EMAIL: $.trim(EMAIL),
									FNAME: $.trim($("#mce-FNAME").val()),
									LNAME: $.trim($("#mce-LNAME").val()),
									MMERGE4: $.trim($("#mce-MMERGE4").val()),
									INTERESTS: $.map($(":checked[name=INTERESTS]"), function(el) {
										return el.value;
									}),
									lists: $.map(lists, function(el) {
										return el.value;
									})
								}
								$.post(MC_AJAX.url, data)
										.done(function(res){
											MC_AJAX.nonce = res.nonce;
											if (lists.length > 1){
												$('.mc-success').addClass('mc-success-multi');
											}
											$('.mc-success').show('slow');
										}).fail(function(xhr){
									$('.warning')
											.append(xhr.responseText)
											.show('slow');
								}).always(function(){
									$("#mce-submit").attr('disabled', false).removeClass('loading');
								});

							});
						});
					</script>
				</div><!-- .widget-area -->
				<div class="socialSidebar">
					<p>Follow us: <a href="https://www.facebook.com/simonsfoundation" target="_blank"><img width="30" height="30" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/facebook_icon.png" alt="facebook"></a> <a href="https://twitter.com/SimonsFdn" target="_blank"><img width="30" height="30" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/twitter1.png" alt="twitter"></a> <a href="https://www.simonsfoundation.org/feed/"><img width="30" height="30" src="https://www.simonsfoundation.org/wp-content/themes/simons/images/feed1.png" alt="feed"></a></p>
				</div>
			</div>


		</div><!-- #main -->
	</div><!-- .shadow -->
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			<div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-58" class="first menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="https://www.simonsfoundation.org/about-us/">About Simons Foundation</a></li>
				<li id="menu-item-1945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1945"><a href="https://www.simonsfoundation.org/mathematics-and-physical-science/">Mathematics &#038; Physical Sciences</a></li>
				<li id="menu-item-1970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1970"><a href="https://www.simonsfoundation.org/life-sciences/">Life Sciences</a></li>
				<li id="menu-item-7573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7573"><a href="http://www.sfari.org/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.sfari.org/', 'Autism Research');">Autism Research</a></li>
				<li id="menu-item-7168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7168"><a href="https://www.simonsfoundation.org/education-outreach/">Education &#038; Outreach</a></li>
				<li id="menu-item-15704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15704"><a href="https://www.simonsfoundation.org/simons-center-for-data-analysis/">Center for Data Analysis</a></li>
				<li id="menu-item-18180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18180"><a href="https://www.simonsfoundation.org/privacy-policy/">Privacy Policy</a></li>
				<li id="menu-item-18181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18181"><a href="https://www.simonsfoundation.org/terms-and-conditions/">Terms and Conditions</a></li>
				<li id="menu-item-1456" class="last menu-item menu-item-type-post_type menu-item-object-page menu-item-1456"><a href="https://www.simonsfoundation.org/about-us/contact-us/">Contact Us</a></li>
			</ul></div>		</div><!-- .site-info -->
	</footer><!-- .site-footer .site-footer -->
</div><!-- #page .hfeed .site -->

<!--<div class="overlay center survey">
	<a href="#" class="close"><span class="genericon close"></span><span class="text">close</span></a>
	<h3>Help Us Improve this Site</h3>
	<p>Please take our 3-minute<br />simonsfoundation.org survey</p>
	<a href="https://www.surveymonkey.com/r/P2DF7HW" class="survey-link">Begin Survey &raquo;</a>
	<p class="credit">Image: Brookhaven National Lab</p>
</div>-->

<!-- MathJax Latex Plugin installed: Disabled as no shortcodes on this page --><script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/prefixfree.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer-3.2.12.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.playlist-3.2.10.custom.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.ipad-3.2.12.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.tools.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/jquery.slimmenu.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slimmenu/jquery.easing.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-includes/js/underscore.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/intention.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/context.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.widowFix-1.3.2.min.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/ios-orientationchange-fix.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slides/slides.min.jquery.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/dotdotdot-1.5.1/jquery.dotdotdot-1.5.1.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jcarousel/lib/jquery.jcarousel.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/tracking.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/scripts.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/slick.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/themes/simons/js/jquery.cookie.js?ver=r20160107'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/pixelines-email-protector/pixeline-email-protector.js'></script>
<script type='text/javascript' src='https://www.simonsfoundation.org/wp-content/plugins/new-royalslider/lib/royalslider/jquery.royalslider.min.js?ver=r20160107'></script>

<script>
	jQuery( document ).ready( function ( $ ) {

		// Big image slider
		$('#slides').slides({
			preload: true,
			preloadImage: 'https://www.simonsfoundation.org/wp-content/themes/simons/images/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true
		});


		// Initialise the first and second carousel by class selector.
		// Note that they use both the same configuration options (none in this case).
		jQuery('.first-and-second-carousel').jcarousel();

		$(".jcarousel-container ul").each(function (index, domEle){
			$("li:last-child").addClass("last");
		});


		// Ellipsis on the home page and main sections
		$(window).load(function() {
			$(".hellip").dotdotdot({
				ellipsis: '...'
			});
			$('body').addClass('hellip_ready');
		});
		$(window).load(function() {
			$(".hellipTitle").dotdotdot({ // FIXME merge with above
				ellipsis: '...'
			});
		});

		// Init Flowplayer for standalone videos.
		var standalones = $(".entry-content p a[href$=mp4], .entry-content p a[href$=flv]");
		if (standalones.length){
			standalones.each(function(){
				$this = $(this);
				var img = $this.find('img');
				if (img.length){
					$this.css({ 'background': 'url(' + $(img).attr('src') + ') center no-repeat #f4f4f4'})
							.append('<img src="https://www.simonsfoundation.org/wp-content/themes/simons/images/play_large.png" alt="Play this video" class="play_this_video" />');
					img.remove();
					FLOWPLAYER_OPT.clip.autoPlay = true;
				}
				$this.addClass('player-single');
				$this.flowplayer(FLOWPLAYER_URL, FLOWPLAYER_OPT);
				// Remove context menu
				$this.bind("contextmenu", function(){
					return false;
				});
			})
			flowplayer().ipad(FLOWPLAYER_OPT.ipad);
		}
	});



	// Open external links in a new window. Based on http://goo.gl/wV07t
	jQuery(document).on('click', 'a', function(e) {
		if ( !this.href || e.isDefaultPrevented()) { return };
		if (/^http.?:/.test(this.href) && this.href.indexOf(location.hostname) < 0 ) {
			e.preventDefault();
			window.open(this.href);
		}
	});

	var FLOWPLAYER_URL = "https://www.simonsfoundation.org/wp-content/themes/simons/js/flowplayer/flowplayer.commercial-3.2.16.swf";
	var FLOWPLAYER_OPT = {
		key: '#$68a658ec673508a0f36',
		canvas: {backgroundColor: "#000000"},
		ipad: {
			simulateiDevice: !flashembed.isSupported([10])
		},

		clip: {
			autoPlay: false,
			autoBuffering: true,
			scaling: 'fit',
			onStart: function(clip){
				if (typeof __gaTracker != 'undefined'){
					var category = jQuery.trim(jQuery("h1.entry-title").text()).replace("Science Lives", "SL");
					__gaTracker('send', 'event', "Video " + category, "click", clip.title);
				}
			}
		},

		canvas: {
			background: '#000000',
			backgroundGradient: 'none'
		},

		plugins: {
			controls: {
				timeSeparator: ' ',
				tooltipColor: '#000000',
				volumeBorder: '1px solid rgba(128, 128, 128, 0.7)',
				timeBgColor: 'rgb(0, 0, 0, 0)',
				timeColor: '#ffffff',
				sliderColor: '#dfe0e1',
				bufferColor: '#545a6d',
				borderRadius: '0px',
				bufferGradient: 'none',
				durationColor: '#a9aebc',
				tooltipTextColor: '#ffffff',
				callType: 'default',
				sliderBorder: '1px solid rgba(128, 128, 128, 0.7)',
				progressGradient: 'none',
				sliderGradient: 'none',
				timeBorder: '0px solid rgba(0, 0, 0, 0.3)',
				buttonOffColor: 'rgba(130,130,130,1)',
				backgroundGradient: 'none',
				autoHide: 'never',
				volumeSliderColor: '#46464e',
				progressColor: '#808080',
				backgroundColor: '#454545',
				volumeSliderGradient: 'none',
				buttonColor: '#b9babb',
				buttonOverColor: '#d7d8db',
				volumeColor: '#8f8f8f',
				disabledWidgetColor: '#555555',
				height: 20,
				opacity: 1.0
			}
		}
	}

	jQuery(function($){
		if (typeof gatracker === 'undefined'){ return; } // Handle adblock etc
		gatracker.track("#menu-main-menu a", "Top nav");
		gatracker.track("#masthead hgroup a, #masthead .menu-auxiliary-menu-container a", "Header");
		gatracker.track("footer a", "Footer");
		gatracker.track("#carrousel a, #bigPhoto a", "Hero image");
		gatracker.track(".mediumFeatured  a", "Featured blocks");
		gatracker.track(".leftColumn  a", "Left column");
		gatracker.track(".middleColumn  a", "Middle column");
		gatracker.track(".rightColumn a", "Right column");
		gatracker.track("aside.sidebar a", "Sidebar");
		gatracker.track(".science_lives_video .relatedLinks a", "SL Related links");
		gatracker.track(".science_lives_footer a", "SL footer");
		gatracker.track(".first-and-second-carousel a, .fullListing a", "SL sliders");
		gatracker.track(".slideButton	a", "Video scroll")
		gatracker.track(".breadcrumb a", "Breadcrumb");
		gatracker.track(".categoriesList a", "Category list");
		gatracker.track(".article article.funding a", "Funding");
	});



	jQuery( document ).ready( function ( $ ) {

		var $listItems = $('.pulldown_sidebar ul li');
		var $select = $("<select class='new-menu'>");

		$.each($listItems, function(idx,obj){
			var $option = $("<option>"+ $(obj).text() +"</option>").val( $(obj).find('a').attr('href') );
			if ( $(obj).hasClass('active') ){
				$option.attr('selected', 'selected');
			}
			$select.append($option);
		})

		$('.pulldown_sidebar ul').after($select);
		$('.pulldown_sidebar ul').remove();

		// Go to page on select.

		$('.new-menu').change(function(){
			var selected = $(this).find('option:selected');
			//alert('Going to: '+ selected.val());
			window.location.href = selected.val();
		});


	});

	jQuery('.main-navigation').slimmenu({
		resizeWidth: '568',
		collapserTitle: '',
		animSpeed: 'fast',
		easingEffect: null,
		indentChildren: false,
		childrenIndenter: '&nbsp;'
	});

	jQuery(function($) {
		$('#searchtarget input').each(function(){
			var input = $(this),
					label = input.next('label');
			input.css({
				'width': '1px',
				'height': '1px',
				'border': '0',
				'position': 'absolute',
				'left': '-10000px'
			}).addClass('hidden');
			if (input.is(':checked')) {
				label.addClass('checked');
			}
			label.click(function() {
				$(this).addClass('checked')
						.siblings('label').not(this).each(function() {
					$(this).removeClass('checked');
				});
			});
		});
	});


	stLight.options({onhover:false});
</script>

<script type="text/javascript">
	// Fonts.com license tracking
	var MTIProjectId='90ab73ca-a32b-4874-9a30-13e1e2f3eb2c';
	(function() {
		var mtiTracking = document.createElement('script');
		mtiTracking.type='text/javascript';
		mtiTracking.async='true';
		mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
	})();
</script>

</body>
{% block bootstrap-js %}{% bootstrap_javascript %}{% endblock %}
{% block late-scripts %}{% endblock %}
</html>

