<div class="widget-area rightColumn clearfix justify" role="complementary">
  <h3 class="useBg">
    <a href="https://www.simonsfoundation.org/funding/funding-opportunities/">
      Gene Search</a>
  </h3>
  <div class="item first wrappable_1 clearfix">
	  <a href="https://www.simonsfoundation.org/life-sciences/simons-collaboration-on-the-origins-of-life/">
      <img src="{{ STATIC_URL }}simons/img/dna-genes-1405932776.150.jpg"></a>
    <h4 class="padfix">
      <a href="https://www.simonsfoundation.org/life-sciences/simons-collaboration-on-the-origins-of-life/">Simons Gene Search</a>
    </h4><p>The Simons Gene Search tool allows you to quickly search our extensive gene database. Search by Name, Codon, or both Name and Codon. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

  {% include 'includes/gs_search_widget.html' %}
</div><!--  .widget-area -->