<div class="widget-area clearfix justify" role="complementary" ng-app="sApp" ng-controller="SearchController" ng-cloak>
  {% include 'includes/gs_search_widget.html' %}

  <article>
    <header class="entry-header">
      <h1 class="entry-title">Gene Search Results <span ng-if="in_transit" class="muted"><i class="fa fa-cog fa-spin"></i> Fetching Results...</span></h1>
    </header>

    <div class="alert alert-warning alert-dismissible" role="alert" ng-if="response.data.results.length === 0 && !in_transit && response.status === 200">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><span class="glyphicon glyphicon-info-sign"></span> Nothing found.</strong> Please, try another search term.
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="response.status !== 200 && !in_transit">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><span class="glyphicon glyphicon-warning-sign"></span> {% verbatim %}{{ response.statusText }}{% endverbatim %}!</strong> We apologize, something went wrong.
    </div>

    <div class="entry-content">
      {% verbatim %}
      <div ng-if="debug">
        <h1>term: {{ params.term }}</h1>
        <h1>field: {{ params.field }}</h1>
      </div>
      <table st-table="response.data.results" st-safe-src="results_clone" class="table table-striped">
        <thead>
        <tr class="table-header">
          <th st-sort="id">Id</th>
          <th st-sort="chrom">Chromosome</th>
          <th st-sort="name">Name</th>
          <th st-sort="tx_start">TX Start</th>
          <th st-sort="tx_end">TX End</th>
        </tr>
        <tr>
          <th>
            <input st-search="id" placeholder="filter by id" class="input-sm form-control" type="search"/>
          </th>
          <th>
            <input st-search="chrom" placeholder="filter by chrom" class="input-sm form-control" type="search"/>
          </th>
          <th>
            <input st-search="name" placeholder="filter by name" class="input-sm form-control" type="search"/>
          </th>
          <th>
            <input st-search="tx_start" placeholder="filter by tx start" class="input-sm form-control" type="search"/>
          </th>
          <th>
            <input st-search="tx_end" placeholder="filter by tx end" class="input-sm form-control" type="search"/>
          </th>
        </tr>
        </thead>
        <tbody ng-if="response.data.results.length > 0">
        <tr class="tbl-hover" ng-repeat="row in response.data.results">
          <td>{{ row.id }}</td>
          <td>{{ row.chrom }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.tx_start }}</td>
          <td>{{ row.tx_end }}</td>
        </tr>
        </tbody>
        <tbody ng-if="initializing"></span>
        <tr>
          <td colspan="5" class="load-background" style="">
            <div class="load-container" style="">
              <div class="load-parent load-spacer div-inline" style="">
                <div class="load-spinner div-inline" style="">
                  <i class="fa-2x fa fa-cog fa-spin"></i>
                </div>
                <div class="load-text div-inline" style="">
                  Fetching records...
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center" st-pagination="" st-items-by-page="10" st-displayed-pages="7">
          </td>
        </tr>
        </tfoot>
      </table>
      {% endverbatim %}
    </div>
  </article>
</div><!--  .widget-area -->