<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text"
        id="gs-term"
        ng-model="params.term"
        class="bs-input form-control"
        aria-label="gene search"
        placeholder="Search for gene..."
        value="{{ term }}">
      <input ng-show="debug"
        type="{% if debug %}text{% else %}hidden{% endif %}"
        id="gs-field"
        ng-model="params.field"
        class="bs-input form-control"
        value="{{ field }}">
      <div class="input-group-btn">
        {% if angular %}
        <button ng-if="params.field == 'both'"
                class="btn btn-default"
                type="button"
                ng-click="search()">{% verbatim %}{{ params.field | title }}{% endverbatim %}
        </button>
        <button ng-if="params.field == 'name'"
                class="btn btn-default"
                type="button"
                ng-click="search('name')">{% verbatim %}{{ params.field | title }}{% endverbatim %}
        </button>
        <button ng-if="params.field == 'chrom'"
                class="btn btn-default"
                type="button"
                ng-click="search('chrom')">{% verbatim %}{{ params.field | title }}{% endverbatim %}
        </button>
        {% else %}
        <button class="btn btn-default" type="button" onclick="simons.search()">Search</button>
        {% endif %}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        {% if angular %}
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" ng-click="search('name')">Name</a></li>
          <li><a href="#" ng-click="search('chrom')">Chrom</a></li>
          <li><a href="#" ng-click="search()">Name or Chrom</a></li>
        </ul>
        {% else %}
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" onclick="simons.search('name')">Name</a></li>
          <li><a href="#" onclick="simons.search('chrom')">Chrom</a></li>
          <li><a href="#" onclick="simons.search()">Name or Chrom</a></li>
        </ul>
        {% endif %}
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
