<div class="row">
  <div class="menu-header-search">
    <form method="get" id="searchform" action="https://www.simonsfoundation.org/" role="search">
      <div class="form-group form-group-sm">
        <div class="input-group">
          <input type="text"
                 id="s"
                 name="s"
                 class="bs-input form-control"
                 aria-label="gene search"
                 placeholder="Search people and site"
                 value="">
          <div class="input-group-btn">
            <button class="btn btn-default form-control" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
